In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
Books = pd.read_csv('Books.csv')
Books.head()

C:\Users\ADMIN\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [9]:
Ratings = pd.read_csv('Ratings.csv')
Ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [10]:
Users = pd.read_csv('Users.csv')
Users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [11]:
Books.describe()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
count,271360,271360,271359,271360,271358,271360,271360,271357
unique,271360,242135,102023,202,16807,271044,271044,271041
top,1571880399,Selected Poems,Agatha Christie,2002,Harlequin,http://images.amazon.com/images/P/037376099X.0...,http://images.amazon.com/images/P/006109207X.0...,http://images.amazon.com/images/P/039552105X.0...
freq,1,27,632,13903,7535,2,2,2

In [12]:
Ratings.describe()

            User-ID   Book-Rating
count  1.149780e+06  1.149780e+06
mean   1.403864e+05  2.866950e+00
std    8.056228e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01

In [17]:
Users.describe()

            User-ID            Age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

In [13]:
Books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [14]:
Users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [83]:
Ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [15]:
Books.dtypes

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

In [16]:
Ratings.dtypes

User-ID         int64
ISBN           object
Book-Rating     int64
dtype: object

In [17]:
Users.dtypes

User-ID       int64
Location     object
Age         float64
dtype: object

In [25]:
Books.isna().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [18]:
Ratings.isna().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [19]:
Users.isna().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [31]:
grouped = Ratings.groupby('User-ID')
grouped

In [33]:
grouped['Book-Rating'].agg(np.mean)

User-ID
2         0.000000
7         0.000000
8         2.166667
9         2.000000
10        3.000000
            ...
278846    4.000000
278849    2.250000
278851    3.956522
278852    8.000000
278854    5.250000
Name: Book-Rating, Length: 105283, dtype: float64

In [34]:
grouped = Ratings.groupby('ISBN')
grouped

In [35]:
grouped['Book-Rating'].agg(np.mean)

ISBN
 0330299891    3.0
 0375404120    1.5
 0586045007    0.0
 9022906116    3.5
 9032803328    0.0
              ...
cn113107       0.0
ooo7156103     7.0
§423350229     0.0
´3499128624    8.0
Ô½crosoft      7.0
Name: Book-Rating, Length: 340556, dtype: float64

In [44]:
Ratings["User-ID"].nunique()

105283

In [45]:
Books["Book-Title"].nunique()

242135

In [65]:
Book_user_read = Ratings.groupby('User-ID')['ISBN'].agg('count').sort_values()
Book_user_read

User-ID
2             1
159665        1
159662        1
159655        1
159651        1
          ...
35859      5850
98391      5891
153662     6109
198711     7550
11676     13602
Name: ISBN, Length: 105283, dtype: int64

In [65]:
df1 = Books.merge(Ratings,how="left", on="ISBN")
df_ = df1.merge(Users,how="left", on="User-ID")

df=df_.copy()
df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2.0,0.0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8.0,5.0,"timmins, ontario, canada",NaN
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400.0,0.0,"ottawa, ontario, canada",49.0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676.0,8.0,"n/a, n/a, n/a",NaN
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385.0,0.0,"sudbury, ontario, canada",NaN

In [80]:
df_author = df[["Book-Rating","Book-Author"]]
df_author.head(10)

   Book-Rating           Book-Author
0          0.0    Mark P. O. Morford
1          5.0  Richard Bruce Wright
2          0.0  Richard Bruce Wright
3          8.0  Richard Bruce Wright
4          0.0  Richard Bruce Wright
5          8.0  Richard Bruce Wright
6          0.0  Richard Bruce Wright
7          0.0  Richard Bruce Wright
8          9.0  Richard Bruce Wright
9          9.0  Richard Bruce Wright

In [98]:
df_author_counts = df[["Book-Rating","Book-Author"]]
df_author_counts.value_counts()

Book-Rating  Book-Author
0.0          Nora Roberts              5491
             Stephen King              5414
             John Grisham              3460
             James Patterson           3458
             Mary Higgins Clark        3100
                                       ...
5.0          Daniel Hoffman               1
             Daniel Harris                1
             Daniel Handler               1
             Daniel Halpern               1
10.0         Ã?Â?dÃ?Â¶n von Horvath       1
Length: 198919, dtype: int64

In [20]:
df_authors = df.groupby(['Book-Author'])['Book-Rating'].count()

In [16]:
df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2.0,0.0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8.0,5.0,"timmins, ontario, canada",NaN
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400.0,0.0,"ottawa, ontario, canada",49.0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676.0,8.0,"n/a, n/a, n/a",NaN
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385.0,0.0,"sudbury, ontario, canada",NaN

In [21]:
df_authors

Book-Author
 D. Chiel                           4
 J. D. Landis                       1
 Mimma Balia                        1
'N Sync                             1
142 moms from all over the world    1
                                   ..
Â¢ystein LÂ²nn                      1
Ã?dÃ¶n von HorvÃ¡th                 4
Ã?Â?dÃ?Â¶n von Horvath              2
Ã?Â?pictÃ?Â¨te                      2
Ã?Â?ric Holder                      4
Name: Book-Rating, Length: 102023, dtype: int64

In [26]:
df_authors.sort_values( ascending=False)

Book-Author
Stephen King                  10053
Nora Roberts                   8429
John Grisham                   6010
James Patterson                5845
Mary Higgins Clark             4777
                              ...
Jean Yves Loude                   0
John Jeavons                      0
Inc. Hearst Communications        0
Clive Sinclair                    0
Vuk Karadzic                      0
Name: Book-Rating, Length: 102023, dtype: int64

In [27]:
df_authors.index

Index([' D. Chiel', ' J. D. Landis', ' Mimma Balia', ''N Sync',
       '142 moms from all over the world', '1977 Inaugural Committee (U.S.)',
       '1st Graders of Samuel s Nixon School Carnegie Penn', '2000', '2003',
       '21st Century Publishing',
       ...
       'victor Kelleher', 'von Welser', 'wass', 'william a. haviland', 'x x',
       'Â¢ystein LÂ²nn', 'Ã?dÃ¶n von HorvÃ¡th', 'Ã?Â?dÃ?Â¶n von Horvath',
       'Ã?Â?pictÃ?Â¨te', 'Ã?Â?ric Holder'],
      dtype='object', name='Book-Author', length=102023)

In [37]:
df_authors_rated = df.groupby(['Book-Author'])['Book-Rating'].agg(np.mean)

In [38]:
df_authors_rated

Book-Author
 D. Chiel                           2.5
 J. D. Landis                       0.0
 Mimma Balia                        8.0
'N Sync                             0.0
142 moms from all over the world    5.0
                                   ...
Â¢ystein LÂ²nn                      7.0
Ã?dÃ¶n von HorvÃ¡th                 4.0
Ã?Â?dÃ?Â¶n von Horvath              5.0
Ã?Â?pictÃ?Â¨te                      4.5
Ã?Â?ric Holder                      0.0
Name: Book-Rating, Length: 102023, dtype: float64

In [43]:
df_authors_rated.sort_values( ascending=False).head(10)

Book-Author
Hieronymous Kitsch    10.0
Benjamin M. Schutz    10.0
Ben Sonder            10.0
Emanuel F. Hammer     10.0
Emberley              10.0
Michael Perman        10.0
Emi Kazuko            10.0
Linda A. Lavid        10.0
Ben R. Hager          10.0
Pat Ward Thomas       10.0
Name: Book-Rating, dtype: float64

In [25]:
df.shape

(1032345, 12)

In [26]:
df.size

12388140

In [27]:
df.ndim

2

In [28]:
df.describe( )

            User-ID   Book-Rating            Age
count  1.031136e+06  1.031136e+06  753301.000000
mean   1.405945e+05  2.839051e+00      37.397648
std    8.052466e+04  3.854157e+00      14.098254
min    2.000000e+00  0.000000e+00       0.000000
25%    7.041500e+04  0.000000e+00      28.000000
50%    1.412100e+05  0.000000e+00      35.000000
75%    2.114260e+05  7.000000e+00      45.000000
max    2.788540e+05  1.000000e+01     244.000000

In [29]:
df.index

Int64Index([      0,       1,       2,       3,       4,       5,       6,
                  7,       8,       9,
            ...
            1032335, 1032336, 1032337, 1032338, 1032339, 1032340, 1032341,
            1032342, 1032343, 1032344],
           dtype='int64', length=1032345)

In [30]:
df.dropna( )

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2.0,0.0,"stockton, california, usa",18.0
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400.0,0.0,"ottawa, ontario, canada",49.0
5,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,67544.0,8.0,"toronto, ontario, canada",30.0
6,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,85526.0,0.0,"victoria, british columbia, canada",36.0
7,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,96054.0,0.0,"ottawa, ontario, canada",29.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1032340,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,276463.0,7.0,"providence, rhode island, usa",26.0
1032341,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,276579.0,4.0,"orem, utah, usa",12.0
1032342,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,276680.0,0.0,"hopewell junction, new york, usa",55.0
1032343,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,276680.0,0.0,"hopewell junction, new york, usa",55.0
1032344,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,276680.0,0.0,"hopewell junction, new york, usa",55.0

In [31]:
df.duplicated( )

0          False
1          False
2          False
3          False
4          False
           ...
1032340    False
1032341    False
1032342    False
1032343    False
1032344    False
Length: 1032345, dtype: bool

In [33]:
df.corr( )

              User-ID  Book-Rating       Age
User-ID      1.000000    -0.044021 -0.013606
Book-Rating -0.044021     1.000000 -0.025252
Age         -0.013606    -0.025252  1.000000

In [53]:
df['Year-Of-Publication'] = pd.to_datetime(df["Year-Of-Publication"],format='%Y%m%d', errors='ignore')

In [54]:
df['Year-Of-Publication']

0         1970-01-01 00:00:00.000002002
1         1970-01-01 00:00:00.000002001
2         1970-01-01 00:00:00.000002001
3         1970-01-01 00:00:00.000002001
4         1970-01-01 00:00:00.000002001
                       ...
1032340   1970-01-01 00:00:00.000001988
1032341   1970-01-01 00:00:00.000001991
1032342   1970-01-01 00:00:00.000002004
1032343   1970-01-01 00:00:00.000001996
1032344   1970-01-01 00:00:00.000002000
Name: Year-Of-Publication, Length: 1032345, dtype: datetime64[ns]

In [56]:
Books.drop(['Image-URL-S','Image-URL-M','Image-URL-L'], axis='columns')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [62]:
df[['city','state', 'country']] = df['Location'].str.split(',', 2, expand=True)

In [63]:
df[['city','state', 'country']]

                      city          state  country
0                 stockton     california      usa
1                  timmins        ontario   canada
2                   ottawa        ontario   canada
3                      n/a            n/a      n/a
4                  sudbury        ontario   canada
...                    ...            ...      ...
1032340         providence   rhode island      usa
1032341               orem           utah      usa
1032342  hopewell junction       new york      usa
1032343  hopewell junction       new york      usa
1032344  hopewell junction       new york      usa

[1032345 rows x 3 columns]

In [68]:
df['Book-Author']

0            Mark P. O. Morford
1          Richard Bruce Wright
2          Richard Bruce Wright
3          Richard Bruce Wright
4          Richard Bruce Wright
                   ...
1032340          Paula Danziger
1032341              Teri Sloat
1032342        Christine Wicker
1032343                   Plato
1032344     Christopher  Biffle
Name: Book-Author, Length: 1032345, dtype: object

In [69]:
df['Book-Author'] = df['Book-Author'].str.upper()

In [70]:
df['Book-Author']

0            MARK P. O. MORFORD
1          RICHARD BRUCE WRIGHT
2          RICHARD BRUCE WRIGHT
3          RICHARD BRUCE WRIGHT
4          RICHARD BRUCE WRIGHT
                   ...
1032340          PAULA DANZIGER
1032341              TERI SLOAT
1032342        CHRISTINE WICKER
1032343                   PLATO
1032344     CHRISTOPHER  BIFFLE
Name: Book-Author, Length: 1032345, dtype: object

In [72]:
books_and_ratings = Books.merge(Ratings,how="left", on="ISBN")
books_and_ratings.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2.0,0.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8.0,5.0
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400.0,0.0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676.0,8.0
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385.0,0.0

In [117]:
user_preferences = books_and_ratings.merge(Users,how="left", on="User-ID")

In [118]:
user_preferences.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2.0,0.0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8.0,5.0,"timmins, ontario, canada",NaN
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400.0,0.0,"ottawa, ontario, canada",49.0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676.0,8.0,"n/a, n/a, n/a",NaN
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385.0,0.0,"sudbury, ontario, canada",NaN

In [165]:
user_preferences1 = user_preferences.query('`User-ID` == 276822')
user_preferences1

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
51417,NaN,Hoot (Newbery Honor Book),CARL HIAASEN,2002,Knopf Books for Young Readers,http://images.amazon.com/images/P/0375821813.0...,http://images.amazon.com/images/P/0375821813.0...,http://images.amazon.com/images/P/0375821813.0...,276822.0,9.0,"calgary, alberta, canada",11.0
339850,NaN,"Artemis Fowl (Artemis Fowl, Book 1)",Eoin Colfer,2002,Miramax Kids,http://images.amazon.com/images/P/0786817070.0...,http://images.amazon.com/images/P/0786817070.0...,http://images.amazon.com/images/P/0786817070.0...,276822.0,10.0,"calgary, alberta, canada",11.0
354226,NaN,The Boy Next Door,Meggin Cabot,2002,Avon Trade,http://images.amazon.com/images/P/0060096195.0...,http://images.amazon.com/images/P/0060096195.0...,http://images.amazon.com/images/P/0060096195.0...,276822.0,10.0,"calgary, alberta, canada",11.0
452918,NaN,A Kid's Guide to How to Save the Planet (Camel...,Billy Goodman,1990,Harpercollins Juvenile Books,http://images.amazon.com/images/P/038076041X.0...,http://images.amazon.com/images/P/038076041X.0...,http://images.amazon.com/images/P/038076041X.0...,276822.0,10.0,"calgary, alberta, canada",11.0
459578,NaN,The Last Book in the Universe,Rodman Philbrick,2002,Scholastic Signature,http://images.amazon.com/images/P/0439087597.0...,http://images.amazon.com/images/P/0439087597.0...,http://images.amazon.com/images/P/0439087597.0...,276822.0,0.0,"calgary, alberta, canada",11.0
496234,NaN,Skin and Other Stories (Now in Speak!),Roald Dahl,2002,Puffin Books,http://images.amazon.com/images/P/0141310340.0...,http://images.amazon.com/images/P/0141310340.0...,http://images.amazon.com/images/P/0141310340.0...,276822.0,9.0,"calgary, alberta, canada",11.0
579440,NaN,The Number Devil: A Mathematical Adventure,Hans Magnus Enzensberger,1998,Henry Holt &amp; Company,http://images.amazon.com/images/P/0805057706.0...,http://images.amazon.com/images/P/0805057706.0...,http://images.amazon.com/images/P/0805057706.0...,276822.0,10.0,"calgary, alberta, canada",11.0
699922,NaN,A String in the Harp,Nancy Bond,1996,Aladdin,http://images.amazon.com/images/P/0689804458.0...,http://images.amazon.com/images/P/0689804458.0...,http://images.amazon.com/images/P/0689804458.0...,276822.0,8.0,"calgary, alberta, canada",11.0
724353,NaN,The Sandy Bottom Orchestra,Jenny Nilson,1998,Hyperion Books for Children,http://images.amazon.com/images/P/0786812508.0...,http://images.amazon.com/images/P/0786812508.0...,http://images.amazon.com/images/P/0786812508.0...,276822.0,9.0,"calgary, alberta, canada",11.0
794250,NaN,The Contest,Gordon Korman,2002,Scholastic,http://images.amazon.com/images/P/0439401399.0...,http://images.amazon.com/images/P/0439401399.0...,http://images.amazon.com/images/P/0439401399.0...,276822.0,6.0,"calgary, alberta, canada",11.0
847231,NaN,Random Acts of Kindness,Dawna Markova,2002,Conari Press,http://images.amazon.com/images/P/1573248533.0...,http://images.amazon.com/images/P/1573248533.0...,http://images.amazon.com/images/P/1573248533.0...,276822.0,10.0,"calgary, alberta, canada",11.0
914523,NaN,Growing Wings,Laurel Winter,2002,Puffin Books,http://images.amazon.com/images/P/0142302198.0...,http://images.amazon.com/images/P/0142302198.0...,http://images.amazon.com/images/P/0142302198.0...,276822.0,10.0,"calgary, alberta, canada",11.0
969038,NaN,Surviving Sam,Karen Rivers,2002,Polestar Book Publishers,http://images.amazon.com/images/P/1551925060.0...,http://images.amazon.com/images/P/1551925060.0...,http://images.amazon.com/images/P/1551925060.0...,276822.0,8.0,"calgary, alberta, canada",11.0
991092,NaN,The Riddle of Scheherazade: And Other Amazing ...,Raymond Smullyan,1998,Harvest Books,http://images.amazon.com/images/P/0156006065.0...,http://images.amazon.com/images/P/0156006065.0...,http://images.amazon.com/images/P/0156006065.0...,276822.0,9.0,"calgary, alberta, canada",11.0

In [128]:
user_preferences2 = user_preferences.query("ISBN == '0345260317'")

In [130]:
user_preferences2.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
6037,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,67.0,0.0,"framingham, massachusetts, usa",43.0
6038,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,32195.0,0.0,"fall river, massachusetts, usa",NaN
6039,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,32773.0,0.0,"olathe, kansas, usa",28.0
6040,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,64010.0,7.0,"barrie, ontario, canada",NaN
6041,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,96440.0,0.0,"rochester, new york, usa",29.0

In [134]:
user_preferences3 = user_preferences2.query('`Book-Rating` > 0')

In [135]:
user_preferences3

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
6040,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,64010.0,7.0,"barrie, ontario, canada",NaN
6044,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,152435.0,7.0,"indianapolis, indiana, usa",40.0
6050,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,245988.0,3.0,"regina, saskatchewan, canada",NaN

In [150]:
user_preferences.loc[user_preferences['User-ID'] == 276822, 'User-ID']

51417     276822.0
339850    276822.0
354226    276822.0
452918    276822.0
459578    276822.0
496234    276822.0
579440    276822.0
699922    276822.0
724353    276822.0
794250    276822.0
847231    276822.0
914523    276822.0
969038    276822.0
991092    276822.0
Name: User-ID, dtype: float64

In [161]:
user_preferences.loc[user_preferences['ISBN'] == '0345260317']

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
6037,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,67.0,0.0,"framingham, massachusetts, usa",43.0
6038,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,32195.0,0.0,"fall river, massachusetts, usa",NaN
6039,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,32773.0,0.0,"olathe, kansas, usa",28.0
6040,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,64010.0,7.0,"barrie, ontario, canada",NaN
6041,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,96440.0,0.0,"rochester, new york, usa",29.0
6042,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,102967.0,0.0,"olympia, washington, usa",54.0
6043,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,130474.0,0.0,"nashville, tennessee, usa",33.0
6044,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,152435.0,7.0,"indianapolis, indiana, usa",40.0
6045,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,162155.0,0.0,"federal way, washington, usa",57.0
6046,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,184891.0,0.0,"yucaipa, california, usa",50.0
6047,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,196160.0,0.0,"auburn, alabama, usa",22.0
6048,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,203369.0,0.0,"houston, texas, usa",NaN
6049,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,240144.0,0.0,"muskego, wisconsin, usa",34.0
6050,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,245988.0,3.0,"regina, saskatchewan, canada",NaN
6051,0345260317,The Dragons of Eden: Speculations on the Evolu...,Carl Sagan,1978,Ballantine Books,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,http://images.amazon.com/images/P/0345260317.0...,255489.0,0.0,"sherman oaks, california, usa",NaN

In [162]:
user_preferences4 = user_preferences2.loc[user_preferences['Book-Rating'] > 0, 'Book-Rating']

In [163]:
user_preferences4

6040    7.0
6044    7.0
6050    3.0
Name: Book-Rating, dtype: float64

In [166]:
user_preferences1.to_dict()

{'ISBN': {51417: nan,
  339850: nan,
  354226: nan,
  452918: nan,
  459578: nan,
  496234: nan,
  579440: nan,
  699922: nan,
  724353: nan,
  794250: nan,
  847231: nan,
  914523: nan,
  969038: nan,
  991092: nan},
 'Book-Title': {51417: 'Hoot (Newbery Honor Book)',
  339850: 'Artemis Fowl (Artemis Fowl, Book 1)',
  354226: 'The Boy Next Door',
  452918: "A Kid's Guide to How to Save the Planet (Camelot world)",
  459578: 'The Last Book in the Universe',
  496234: 'Skin and Other Stories (Now in Speak!)',
  579440: 'The Number Devil: A Mathematical Adventure',
  699922: 'A String in the Harp',
  724353: 'The Sandy Bottom Orchestra',
  794250: 'The Contest',
  847231: 'Random Acts of Kindness',
  914523: 'Growing Wings',
  969038: 'Surviving Sam',
  991092: 'The Riddle of Scheherazade: And Other Amazing Puzzles'},
 'Book-Author': {51417: 'CARL HIAASEN',
  339850: 'Eoin Colfer',
  354226: 'Meggin Cabot',
  452918: 'Billy Goodman',
  459578: 'Rodman Philbrick',
  496234: 'Roald Dahl',
  579440: 'Hans Magnus Enzensberger',
  699922: 'Nancy Bond',
  724353: 'Jenny Nilson',
  794250: 'Gordon Korman',
  847231: 'Dawna Markova',
  914523: 'Laurel Winter',
  969038: 'Karen Rivers',
  991092: 'Raymond Smullyan'},
 'Year-Of-Publication': {51417: 2002,
  339850: 2002,
  354226: 2002,
  452918: 1990,
  459578: 2002,
  496234: 2002,
  579440: 1998,
  699922: 1996,
  724353: 1998,
  794250: 2002,
  847231: 2002,
  914523: 2002,
  969038: '2002',
  991092: '1998'},
 'Publisher': {51417: 'Knopf Books for Young Readers',
  339850: 'Miramax Kids',
  354226: 'Avon Trade',
  452918: 'Harpercollins Juvenile Books',
  459578: 'Scholastic Signature',
  496234: 'Puffin Books',
  579440: 'Henry Holt &amp; Company',
  699922: 'Aladdin',
  724353: 'Hyperion Books for Children',
  794250: 'Scholastic',
  847231: 'Conari Press',
  914523: 'Puffin Books',
  969038: 'Polestar Book Publishers',
  991092: 'Harvest Books'},
 'Image-URL-S': {51417: 'http://images.amazon.com/images/P/0375821813.01.THUMBZZZ.jpg',
  339850: 'http://images.amazon.com/images/P/0786817070.01.THUMBZZZ.jpg',
  354226: 'http://images.amazon.com/images/P/0060096195.01.THUMBZZZ.jpg',
  452918: 'http://images.amazon.com/images/P/038076041X.01.THUMBZZZ.jpg',
  459578: 'http://images.amazon.com/images/P/0439087597.01.THUMBZZZ.jpg',
  496234: 'http://images.amazon.com/images/P/0141310340.01.THUMBZZZ.jpg',
  579440: 'http://images.amazon.com/images/P/0805057706.01.THUMBZZZ.jpg',
  699922: 'http://images.amazon.com/images/P/0689804458.01.THUMBZZZ.jpg',
  724353: 'http://images.amazon.com/images/P/0786812508.01.THUMBZZZ.jpg',
  794250: 'http://images.amazon.com/images/P/0439401399.01.THUMBZZZ.jpg',
  847231: 'http://images.amazon.com/images/P/1573248533.01.THUMBZZZ.jpg',
  914523: 'http://images.amazon.com/images/P/0142302198.01.THUMBZZZ.jpg',
  969038: 'http://images.amazon.com/images/P/1551925060.01.THUMBZZZ.jpg',
  991092: 'http://images.amazon.com/images/P/0156006065.01.THUMBZZZ.jpg'},
 'Image-URL-M': {51417: 'http://images.amazon.com/images/P/0375821813.01.MZZZZZZZ.jpg',
  339850: 'http://images.amazon.com/images/P/0786817070.01.MZZZZZZZ.jpg',
  354226: 'http://images.amazon.com/images/P/0060096195.01.MZZZZZZZ.jpg',
  452918: 'http://images.amazon.com/images/P/038076041X.01.MZZZZZZZ.jpg',
  459578: 'http://images.amazon.com/images/P/0439087597.01.MZZZZZZZ.jpg',
  496234: 'http://images.amazon.com/images/P/0141310340.01.MZZZZZZZ.jpg',
  579440: 'http://images.amazon.com/images/P/0805057706.01.MZZZZZZZ.jpg',
  699922: 'http://images.amazon.com/images/P/0689804458.01.MZZZZZZZ.jpg',
  724353: 'http://images.amazon.com/images/P/0786812508.01.MZZZZZZZ.jpg',
  794250: 'http://images.amazon.com/images/P/0439401399.01.MZZZZZZZ.jpg',
  847231: 'http://images.amazon.com/images/P/1573248533.01.MZZZZZZZ.jpg',
  914523: 'http://images.amazon.com/images/P/0142302198.01.MZZZZZZZ.jpg',
  969038: 'http://images.amazon.com/images/P/1551925060.01.MZZZZZZZ.jpg',
  991092: 'http://images.amazon.com/images/P/0156006065.01.MZZZZZZZ.jpg'},
 'Image-URL-L': {51417: 'http://images.amazon.com/images/P/0375821813.01.LZZZZZZZ.jpg',
  339850: 'http://images.amazon.com/images/P/0786817070.01.LZZZZZZZ.jpg',
  354226: 'http://images.amazon.com/images/P/0060096195.01.LZZZZZZZ.jpg',
  452918: 'http://images.amazon.com/images/P/038076041X.01.LZZZZZZZ.jpg',
  459578: 'http://images.amazon.com/images/P/0439087597.01.LZZZZZZZ.jpg',
  496234: 'http://images.amazon.com/images/P/0141310340.01.LZZZZZZZ.jpg',
  579440: 'http://images.amazon.com/images/P/0805057706.01.LZZZZZZZ.jpg',
  699922: 'http://images.amazon.com/images/P/0689804458.01.LZZZZZZZ.jpg',
  724353: 'http://images.amazon.com/images/P/0786812508.01.LZZZZZZZ.jpg',
  794250: 'http://images.amazon.com/images/P/0439401399.01.LZZZZZZZ.jpg',
  847231: 'http://images.amazon.com/images/P/1573248533.01.LZZZZZZZ.jpg',
  914523: 'http://images.amazon.com/images/P/0142302198.01.LZZZZZZZ.jpg',
  969038: 'http://images.amazon.com/images/P/1551925060.01.LZZZZZZZ.jpg',
  991092: 'http://images.amazon.com/images/P/0156006065.01.LZZZZZZZ.jpg'},
 'User-ID': {51417: 276822.0,
  339850: 276822.0,
  354226: 276822.0,
  452918: 276822.0,
  459578: 276822.0,
  496234: 276822.0,
  579440: 276822.0,
  699922: 276822.0,
  724353: 276822.0,
  794250: 276822.0,
  847231: 276822.0,
  914523: 276822.0,
  969038: 276822.0,
  991092: 276822.0},
 'Book-Rating': {51417: 9.0,
  339850: 10.0,
  354226: 10.0,
  452918: 10.0,
  459578: 0.0,
  496234: 9.0,
  579440: 10.0,
  699922: 8.0,
  724353: 9.0,
  794250: 6.0,
  847231: 10.0,
  914523: 10.0,
  969038: 8.0,
  991092: 9.0},
 'Location': {51417: 'calgary, alberta, canada',
  339850: 'calgary, alberta, canada',
  354226: 'calgary, alberta, canada',
  452918: 'calgary, alberta, canada',
  459578: 'calgary, alberta, canada',
  496234: 'calgary, alberta, canada',
  579440: 'calgary, alberta, canada',
  699922: 'calgary, alberta, canada',
  724353: 'calgary, alberta, canada',
  794250: 'calgary, alberta, canada',
  847231: 'calgary, alberta, canada',
  914523: 'calgary, alberta, canada',
  969038: 'calgary, alberta, canada',
  991092: 'calgary, alberta, canada'},
 'Age': {51417: 11.0,
  339850: 11.0,
  354226: 11.0,
  452918: 11.0,
  459578: 11.0,
  496234: 11.0,
  579440: 11.0,
  699922: 11.0,
  724353: 11.0,
  794250: 11.0,
  847231: 11.0,
  914523: 11.0,
  969038: 11.0,
  991092: 11.0}}

In [167]:
user_preferences2.to_dict()

{'ISBN': {6037: '0345260317',
  6038: '0345260317',
  6039: '0345260317',
  6040: '0345260317',
  6041: '0345260317',
  6042: '0345260317',
  6043: '0345260317',
  6044: '0345260317',
  6045: '0345260317',
  6046: '0345260317',
  6047: '0345260317',
  6048: '0345260317',
  6049: '0345260317',
  6050: '0345260317',
  6051: '0345260317'},
 'Book-Title': {6037: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence',
  6038: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence',
  6039: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence',
  6040: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence',
  6041: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence',
  6042: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence',
  6043: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence',
  6044: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence',
  6045: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence',
  6046: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence',
  6047: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence',
  6048: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence',
  6049: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence',
  6050: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence',
  6051: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence'},
 'Book-Author': {6037: 'Carl Sagan',
  6038: 'Carl Sagan',
  6039: 'Carl Sagan',
  6040: 'Carl Sagan',
  6041: 'Carl Sagan',
  6042: 'Carl Sagan',
  6043: 'Carl Sagan',
  6044: 'Carl Sagan',
  6045: 'Carl Sagan',
  6046: 'Carl Sagan',
  6047: 'Carl Sagan',
  6048: 'Carl Sagan',
  6049: 'Carl Sagan',
  6050: 'Carl Sagan',
  6051: 'Carl Sagan'},
 'Year-Of-Publication': {6037: 1978,
  6038: 1978,
  6039: 1978,
  6040: 1978,
  6041: 1978,
  6042: 1978,
  6043: 1978,
  6044: 1978,
  6045: 1978,
  6046: 1978,
  6047: 1978,
  6048: 1978,
  6049: 1978,
  6050: 1978,
  6051: 1978},
 'Publisher': {6037: 'Ballantine Books',
  6038: 'Ballantine Books',
  6039: 'Ballantine Books',
  6040: 'Ballantine Books',
  6041: 'Ballantine Books',
  6042: 'Ballantine Books',
  6043: 'Ballantine Books',
  6044: 'Ballantine Books',
  6045: 'Ballantine Books',
  6046: 'Ballantine Books',
  6047: 'Ballantine Books',
  6048: 'Ballantine Books',
  6049: 'Ballantine Books',
  6050: 'Ballantine Books',
  6051: 'Ballantine Books'},
 'Image-URL-S': {6037: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg',
  6038: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg',
  6039: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg',
  6040: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg',
  6041: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg',
  6042: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg',
  6043: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg',
  6044: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg',
  6045: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg',
  6046: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg',
  6047: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg',
  6048: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg',
  6049: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg',
  6050: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg',
  6051: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg'},
 'Image-URL-M': {6037: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg',
  6038: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg',
  6039: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg',
  6040: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg',
  6041: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg',
  6042: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg',
  6043: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg',
  6044: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg',
  6045: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg',
  6046: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg',
  6047: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg',
  6048: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg',
  6049: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg',
  6050: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg',
  6051: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg'},
 'Image-URL-L': {6037: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg',
  6038: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg',
  6039: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg',
  6040: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg',
  6041: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg',
  6042: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg',
  6043: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg',
  6044: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg',
  6045: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg',
  6046: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg',
  6047: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg',
  6048: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg',
  6049: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg',
  6050: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg',
  6051: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg'},
 'User-ID': {6037: 67.0,
  6038: 32195.0,
  6039: 32773.0,
  6040: 64010.0,
  6041: 96440.0,
  6042: 102967.0,
  6043: 130474.0,
  6044: 152435.0,
  6045: 162155.0,
  6046: 184891.0,
  6047: 196160.0,
  6048: 203369.0,
  6049: 240144.0,
  6050: 245988.0,
  6051: 255489.0},
 'Book-Rating': {6037: 0.0,
  6038: 0.0,
  6039: 0.0,
  6040: 7.0,
  6041: 0.0,
  6042: 0.0,
  6043: 0.0,
  6044: 7.0,
  6045: 0.0,
  6046: 0.0,
  6047: 0.0,
  6048: 0.0,
  6049: 0.0,
  6050: 3.0,
  6051: 0.0},
 'Location': {6037: 'framingham, massachusetts, usa',
  6038: 'fall river, massachusetts, usa',
  6039: 'olathe, kansas, usa',
  6040: 'barrie, ontario, canada',
  6041: 'rochester, new york, usa',
  6042: 'olympia, washington, usa',
  6043: 'nashville, tennessee, usa',
  6044: 'indianapolis, indiana, usa',
  6045: 'federal way, washington, usa',
  6046: 'yucaipa, california, usa',
  6047: 'auburn, alabama, usa',
  6048: 'houston, texas, usa',
  6049: 'muskego, wisconsin, usa',
  6050: 'regina, saskatchewan, canada',
  6051: 'sherman oaks, california, usa'},
 'Age': {6037: 43.0,
  6038: nan,
  6039: 28.0,
  6040: nan,
  6041: 29.0,
  6042: 54.0,
  6043: 33.0,
  6044: 40.0,
  6045: 57.0,
  6046: 50.0,
  6047: 22.0,
  6048: nan,
  6049: 34.0,
  6050: nan,
  6051: nan}}

In [168]:
user_preferences3.to_dict()

{'ISBN': {6040: '0345260317', 6044: '0345260317', 6050: '0345260317'},
 'Book-Title': {6040: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence',
  6044: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence',
  6050: 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence'},
 'Book-Author': {6040: 'Carl Sagan', 6044: 'Carl Sagan', 6050: 'Carl Sagan'},
 'Year-Of-Publication': {6040: 1978, 6044: 1978, 6050: 1978},
 'Publisher': {6040: 'Ballantine Books',
  6044: 'Ballantine Books',
  6050: 'Ballantine Books'},
 'Image-URL-S': {6040: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg',
  6044: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg',
  6050: 'http://images.amazon.com/images/P/0345260317.01.THUMBZZZ.jpg'},
 'Image-URL-M': {6040: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg',
  6044: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg',
  6050: 'http://images.amazon.com/images/P/0345260317.01.MZZZZZZZ.jpg'},
 'Image-URL-L': {6040: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg',
  6044: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg',
  6050: 'http://images.amazon.com/images/P/0345260317.01.LZZZZZZZ.jpg'},
 'User-ID': {6040: 64010.0, 6044: 152435.0, 6050: 245988.0},
 'Book-Rating': {6040: 7.0, 6044: 7.0, 6050: 3.0},
 'Location': {6040: 'barrie, ontario, canada',
  6044: 'indianapolis, indiana, usa',
  6050: 'regina, saskatchewan, canada'},
 'Age': {6040: nan, 6044: 40.0, 6050: nan}}